# Fundamentals of Data Analysis - Assignment 2018

### Problem Statement

Anscombe’s quartet dataset :

1. Explain the background to the dataset – who created it, when it was created, and any speculation you can ﬁnd regarding how it might have been created. 
2. Plot the interesting aspects of the dataset. 
3. Calculate the descriptive statistics of the variables in the dataset. 
4. Explain why the dataset is interesting, referring to the plots and statistics above

## 1. Anscombe's Quartet: Who Created,  when it was created  and how it might have been created

Anscombe's quartet comprises four datasets that have nearly identical simple descriptive statistics, yet appear very different when graphed. Each dataset consists of eleven (x,y) points. <br> <br>
<font color=blue> Who Created the dataset </font>  ::  Frank Anscombe <br>
<font color=blue> When it was constructed</font>   :: 1973 <br>

## 2. Plot interesting aspect of the dataset

In [22]:
# import the Pandas
# Load the Anscombe data into Pandas dataset
import pandas as pd
df = pd.read_csv(r"C:\Users\soman\Documents\Fundamentals-of-data-analysis\anscombe.csv")
df [['x1','y1']]

    x1     y1
0   10   8.04
1    8   6.95
2   13   7.58
3    9   8.81
4   11   8.33
5   14   9.96
6    6   7.24
7    4   4.26
8   12  10.84
9    7   4.82
10   5   5.68